# {{ ansible_managed }}

[Unit]
Description=Elasticsearch
Documentation=http://www.elastic.co
Wants=network-online.target
After=network-online.target

[Service]
Environment=ES_HOME={{ elasticsearch_folders.home }}
Environment=CONF_DIR={{ elasticsearch_folders.conf }}
Environment=DATA_DIR={{ elasticsearch_folders.data | join(',') }}
Environment=LOG_DIR={{ elasticsearch_folders.log }}
Environment=PID_DIR={{ elasticsearch_folders.pid }}
EnvironmentFile=-/etc/default/elasticsearch

WorkingDirectory=/usr/share/elasticsearch

User={{ elasticsearch_user_name }}
Group={{ elasticsearch_group_name }}

{% if (elasticsearch_version | version_compare('2.0', '>=')) %}
ExecStartPre=/usr/share/elasticsearch/bin/elasticsearch-systemd-pre-exec
{% else %}
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p ${PID_DIR}
ExecStartPre=/bin/chown -R {{ elasticsearch_user_name }}:{{ elasticsearch_user_name }} ${PID_DIR}
{% endif %}

ExecStart=/usr/share/elasticsearch/bin/elasticsearch \
                                                -Des.pidfile=${PID_DIR}/elasticsearch.pid \
                                                -Des.default.path.home=${ES_HOME} \
                                                -Des.default.path.logs=${LOG_DIR} \
                                                -Des.default.path.data=${DATA_DIR} \
                                                -Des.default.path.conf=${CONF_DIR}

StandardOutput=journal
StandardError=inherit

# Specifies the maximum file descriptor number that can be opened by this process
LimitNOFILE={{ elasticsearch_etc_default_max_open_files }}

# Specifies the maximum number of bytes of memory that may be locked into RAM
# Set to "infinity" if you use the 'bootstrap.mlockall: true' option
# in elasticsearch.yml and 'MAX_LOCKED_MEMORY=unlimited' in /etc/default/elasticsearch
{% if (elasticsearch_bootstrap_mlockall == 'true')
       and (elasticsearch_etc_default_max_locked_memory == 'unlimited') %}
LimitMEMLOCK=infinity
{% endif %}

# Disable timeout logic and wait until process is stopped
TimeoutStopSec=0

# SIGTERM signal is used to stop the Java process
KillSignal=SIGTERM

# Java process is never killed
SendSIGKILL=no

# When a JVM receives a SIGTERM signal it exits with code 143
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target

# Built for Distribution: Deb-2.3.4 (deb)
