# {{ ansible_managed }}

# Start Elasticsearch automatically
START_DAEMON={{ elasticsearch_etc_default_start_daemon }}

# Run Elasticsearch as this user ID and group ID
ES_USER={{ elasticsearch_user_name }}
ES_GROUP={{ elasticsearch_group_name }}

# Heap Size (defaults to 256m min, 1g max)
ES_HEAP_SIZE={{ elasticsearch_etc_default_heap_size }}

{% if elasticsearch_etc_default_heap_new_size != '' %}
# Heap new generation
ES_HEAP_NEWSIZE={{ elasticsearch_etc_default_heap_new_size }}
{% endif %}

{% if elasticsearch_etc_default_direct_size != '' %}
# Max direct memory
ES_DIRECT_SIZE={{ elasticsearch_etc_default_direct_size }}
{% endif %}

# Maximum number of open files, defaults to 65535.
MAX_OPEN_FILES={{ elasticsearch_etc_default_max_open_files }}

# Maximum locked memory size. Set to "unlimited" if you use the
# bootstrap.mlockall option in elasticsearch.yml. You must also set
# ES_HEAP_SIZE.
MAX_LOCKED_MEMORY={{ elasticsearch_etc_default_max_locked_memory }}

# Maximum number of VMA (Virtual Memory Areas) a process can own
MAX_MAP_COUNT={{ elasticsearch_etc_default_max_map_count }}

# Elasticsearch log directory
LOG_DIR={{ elasticsearch_etc_default_log_dir }}

# Elasticsearch data directory
DATA_DIR={{ elasticsearch_etc_default_data_dir }}

# Elasticsearch work directory
WORK_DIR={{ elasticsearch_etc_default_work_dir }}

# Elasticsearch configuration directory
CONF_DIR={{ elasticsearch_etc_default_conf_dir }}

# Elasticsearch configuration file (elasticsearch.yml)
#CONF_FILE={{ elasticsearch_etc_default_conf_file }}

# Additional Java OPTS
{% if elasticsearch_etc_default_java_opts %}
ES_JAVA_OPTS={{ elasticsearch_etc_default_java_opts | join(',') }}
{% endif %}

# Configure restart on package upgrade (true, every other setting will lead to not restarting)
RESTART_ON_UPGRADE={{ elasticsearch_etc_default_restart_on_upgrade }}
