#{{ ansible_managed }}

{{ elasticsearch_path_logs }}/*.log {
    daily
    dateext
    dateformat _%Y-%m-%d
    rotate 31
    size 50M
    copytruncate
    compress
    delaycompress
    missingok
    create 644 elasticsearch elasticsearch
}
